# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example

# Crash log files
crash.log
crash.*.log

# Ignore CLI configuration files
.terraformrc
terraform.rc

# SSH keys
*.pem
*.pub

# Backup files
*.backup
*.bak

# OS files
.DS_Store
Thumbs.db
