name: Deploy Backend to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Debug host
        run: |
            echo "EC2_HOST=${{ secrets.EC2_HOST }}"
            echo "EC2_USER=${{ secrets.EC2_USER }}"


      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      # Build Docker image in GitHub Actions runner
      - name: Build Docker image
        run: |
          docker build -t rayansh-backend ./backend

      # Stream Docker image directly to EC2 (NO FILE, NO TAR, NO STORAGE)
      - name: Stream Docker image to EC2
        run: |
          docker save rayansh-backend | ssh -o StrictHostKeyChecking=no \
            ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
            "docker load"

      # Stop old container and run new one
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop rayansh-backend || true
            docker rm rayansh-backend || true

            docker run -d \
              --name rayansh-backend \
              -p 8080:8080 \
              -e AWS_REGION=${{ secrets.AWS_REGION }} \
              rayansh-backend
