name: Deploy Backend to EC2

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t rayansh-backend ./backend

      - name: Save Docker image
        run: |
          docker save rayansh-backend > rayansh-backend.tar

      - name: Copy image to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "rayansh-backend.tar"
          target: "/home/ubuntu/"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop rayansh-backend || true
            docker rm rayansh-backend || true

            docker load < /home/ubuntu/rayansh-backend.tar

            docker run -d \
              --name rayansh-backend \
              -p 8080:8080 \
              -e AWS_REGION=${{ secrets.AWS_REGION }} \
              rayansh-backend
